@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ed7b84;
}

.title {
  padding-bottom: 100px;
  font-family: 'Source Sans 3', sans-serif;
  color: #2b2c28;
  font-size: 40px;
}
/* Pantalla del juego */
#game {
  width: 500px;
  height: 200px;
  border: 3px solid #0a0a0a;
  padding: 0 10px;
  background-color: #f5dbcb;
}
/* Personaje (posicion relativa para ubicarlo dentro del juego) */
#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}
/* Animacion de saltar en una clase para agregarla desde JS cuando hago un click */
.animate {
  animation: jump 500ms infinite;
}
/* Bloque enemigo con una posicion relativa para ubicarla y una animacion "block" */
#block {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 2s infinite linear;
}
/* Animacion block que hace que el bloque enemigo se desplace de derecha a izquierda */
@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
/* Animacion de saltar */
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

.text {
  font-family: 'Source Sans 3', sans-serif;
  margin-top: 30px;
  color: #131515;
  font-size: 22px;
}

.puntuacion {
  color: #131515;
}

.lose {
  font-family: 'Source Sans 3', sans-serif;
  margin-top: 30px;
  color: #fffafb;
  font-size: 50px;
}
/* Boton */

.reload {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 100px;
}

.reload:hover,
.reload:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.reload:active {
  opacity: 0.5;
}
